## **Olá! Neste script você aprenderá como:**
1.   **Consolidar** vários arquivos **json** em um único arquivo;
2.   **Serializar** dados de dicionários;
3.   Gerar arquivo no formato **csv**.

Bons estudos!

# Importar bibliotecas utilizadas

In [ ]:
from glob import glob 
import pandas as pd
import csv

# Obter os arquivos json e consolidar em um único arquivo

In [ ]:
# Gerar o arquivo consolidado e armazenar os dados de todos os arquivos json 
with open('arquivoconsolidado.json', 'w') as f:
    for arquivos in glob('/content/drive/MyDrive/0_data_trends/json/*.json'): 
        with open(arquivos) as arq:
            f.write(str(arq.read()))
            f.write('\n')

In [ ]:
df = pd.read_json('arquivoconsolidado.json', lines=True) # Armazenar os dados do arquivo consolidado no DataFrame

In [ ]:
df.head(2) # Visualizar as 2 primeiras linhas

   codigo    descricao                 data  ...  _type  _garage placa
0     119  CREDENCIADO  2020-06-01 06:48:53  ...  carro        1   NaN
1     121  CREDENCIADO  2020-06-01 07:11:34  ...  carro        1   NaN

[2 rows x 13 columns]

# Serializar os dados das colunas `grupo`	`terminal`	`setor`	`tipoVeiculo`	`tipoServico`

In [ ]:
df['tipoVeiculo'] = [lista['descricao'] for lista in df['tipoVeiculo']]

In [ ]:
df['terminal'] = [lista['codigo'] for lista in df['terminal']]

In [ ]:
df['grupo'] = df['grupo'][0]['descricao']

In [ ]:
df['setor'] = df['setor'][0]['descricao']

In [ ]:
df['tipoServico'] = df['tipoServico'][0]['descricao']

In [ ]:
df.head(2)

   codigo    descricao                 data  ...  _type  _garage placa
0     119  CREDENCIADO  2020-06-01 06:48:53  ...  carro        1   NaN
1     121  CREDENCIADO  2020-06-01 07:11:34  ...  carro        1   NaN

[2 rows x 13 columns]

# Gerar o arquivo csv com os dados consolidados

In [ ]:
dfconsolidado = pd.DataFrame.from_dict(df) # Criar DataFrame e armazenar os dados do json consolidado

In [ ]:
dfconsolidado.head(2) # Visualizar apenas as 2 primeiras linhas

   codigo    descricao                 data  ...  _type  _garage placa
0     119  CREDENCIADO  2020-06-01 06:48:53  ...  carro        1   NaN
1     121  CREDENCIADO  2020-06-01 07:11:34  ...  carro        1   NaN

[2 rows x 13 columns]

In [ ]:
dfconsolidado.to_csv("consolidado.csv", index=False,encoding='iso-8859-1') # Gerar o arquivo csv com os dados consolidados

In [ ]:
dfconsolidado_csv = pd.read_csv("consolidado.csv",encoding='iso-8859-1') # Armazenar os dados do arquivo csv no DataFrame

In [ ]:
dfconsolidado_csv.head(2) # Exibição das 2 primeiras linhas do DataFrame

   codigo    descricao                 data  ...  _type  _garage placa
0     119  CREDENCIADO  2020-06-01 06:48:53  ...  carro        1   NaN
1     121  CREDENCIADO  2020-06-01 07:11:34  ...  carro        1   NaN

[2 rows x 13 columns]